@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-xs-12">
        <div class="box" id="ContainSubCat">
            <div class="box-header">
                <h3 class="box-title">التصنيف</h3>
                <button class="btn btn-primary float-left" data-toggle="modal" data-target="#exampleModal" autofocus>تصنيف جديد</button>
            </div><!-- /.box-header -->
            <!-- Modal For Add -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">اضافه تصنيف</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="sub_cat_name">اسم التصنيف</label>
                            <input onkeypress="" type="text" class="form-control" id="sub_cat_name" onkeydown="clearWarningMsg('#validSubCatName')" autofocus autocomplete="off" />
                            <p class="text-danger" id="validSubCatName"></p>
                            <br />
                            <label for="departments">القسم</label>
                            <select name="department" id="departments" class="form-control no-padding">
                                <option value="0" id="0">بدون قسم</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="AddSubCat();">حفظ</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-----end modal for Add-->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>التصنيف</th>
                            <th>القسم</th>
                            <th>تعديل</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody id="sub_cat_data">
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>End</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/SubCat/SubCatIndex.js"></script>
<script src="~/js/SubCat/LoadCategoriesToComboBox.js"></script>
<script src="~/js/SubCat/AddSubCateogory.js"></script>
<script src="~/js/HandleModal/getFocusElements.js"></script>
    <script src="~/js/HandleModal/EnterPress.js"></script>
    