@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/CategoryCss/Category.css" />

<div class="row">
    <div class="col-xs-12">
        <div class="box" id="container">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="box-title">فاتوره شراء</h3>
                    </div>
                    <div class="col-md-7">
                        <!---لاظهار شاشه المنتجات-->
                        <button class="btn btn-primary float-left" data-toggle="modal" data-target="#exampleModal">اضافه</button>
                        <!-- Modal For products search-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="width:1000px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">بحث الأصناف وقائمه الاسعار</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select id="departments" class="form-control no-padding" onchange="FilterSubCat(this.value)">
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="SubCatFilterPro" class="form-control no-padding"></select>
                                            </div>
                                            <div class="col-md-4">
                                                <button onclick="resetSearch();" class="btn btn-success">clear search</button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input onkeyup="SearchByName(this.value)" type="text" class="form-control" id="product_name_box" placeholder="اسم الصنف" />
                                            </div>
                                            <div class="col-md-4">
                                                <input onkeyup="SearchByBarCode(this.value)" type="text" class="form-control" id="product_barcode_box" placeholder="الباركود" />
                                            </div>
                                            <div class="col-md-4">
                                                <input onkeyup="SearchByCode(this.value)" type="text" class="form-control" id="product_code_box" placeholder="الكود" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="box-body">
                                                <table id="example2" class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>الصنف</th>
                                                            <th>الكود</th>
                                                            <th>الباركود</th>
                                                            <th>تكلفه السوقيه</th>
                                                            <th>سعر البيع</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="filter_product_data_purchase">
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>End</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----------------------------------------------------->
                        <!-----end modal for products search-->

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <input class="form-control" type="text" placeholder="رقم المرجع" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" placeholder="كود المورد" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" placeholder="اسم المورد" />
                    </div>
                    <div class="col-md-2">
                        <select name="stores" id="stores" class="form-control no-padding">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" id="btnPrintPurchaseInvoice" disabled>طباعه الفاتوره</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" id="btnGoToStore" disabled>تنفيذ</button>
                    </div>
                  
                </div>
            </div><!-- /.box-header -->
            <!-- Modal For Add -->
            <!----------------------------------------------------->
            <!-----end modal for Add-->
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>الاسم</th>
                            <th>الكميه</th>
                            <th>السعر</th>
                            <th>الاجمالى</th>
                        </tr>
                    </thead>
                    <tbody id="purchaseTbl">
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>End</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/Store/LoadStoreForComboBox.js"></script>
<script src="~/js/SubCat/LoadCategoriesToComboBox.js"></script>
<script src="~/js/SubCat/FilterSubCatByCat.js"></script>
<script type="text/javascript" src="~/js/ProductSearch/ProductSearchName.js"></script>
<script src="~/js/ProductSearch/ProductSearchCode.js"></script>
<script src="~/js/ProductSearch/ProductSearchBarCode.js"></script>
<script src="~/js/ProductSearch/ClearSearch.js"></script>